<% provide(:title, "Notifications") %>
<div class="section col-sm-6">
  <h3>Notifications</h3>
  <%= will_paginate @notifications %>
  <ul class="notifications">
    <%= render @notifications %>
  </ul>
  <%= "You have no notifications" unless @notifications.any? %>
</div>
