<div class="user-item">
  <%= image_tag(user.picture.url, id: "profile") if user.picture? %>
  <%= link_to user.name, user_path(user) %>
  <span class="user-form"><%= render partial: "index_follow_form", locals: { user: user } %></span>
</div>
