<h2><%= @user.name %></h2>
<div class="profile">
  <ul>Email: <%= @user.email %></ul>
  <ul>Birthdate: <%= @user.birthdate %></ul>
  <% if @user == current_user %>
    <ul><%= link_to "Edit Profile", edit_user_registration_path %>
  <% end %>
</div>
