/* resets */

h1, h2, h3, h4, h5 {
  margin: 0;
}

/* Registration Background */

body.devise {
  background-image: url("login_background.jpg");
  background-size: cover;
  font-family: Helvetica;
  color: black;

  form {
    background: #F8F8F8;
    position: relative;
    top: 100px;
    width: 400px;
    padding: 30px;
    margin: auto;
    :last-child {
      margin-bottom: 15px;
    }
  }
}

/* Header */

#logo {
  width: 30px;
  height: 30px;
}

.navbar-custom {
  background-color: white;
}

/* body */

body {
  background-color: #F0F0F0;
}

/* sections */

.section {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  * {
    margin-bottom: 5px;
  }
  margin-bottom: 15px;
}

textarea {
  width: 80%;
}
